.Input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.ValidationError {
    color: red;
    font-size: xx-small;
    text-align: left;
    margin: 5px 0;
} 
.Marker {
    position: relative;
    right: 25px;
    bottom: 58px;
}

