.form {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.Button {
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px , 0px ,20px , 0px;
    font-weight: bold;
}



.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

@media (min-width: 600px) {
    .form {
        width: 500px;
    }
}
