.Blog div
{
    background-image:linear-gradient(#e52d27,#b31217) ;
}
.Blog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Blog li {
    display: inline-block;
}

.Blog a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Blog a:hover,
.Blog a.active {
    color: #111;
}